.navbar_wrapper[data-theme="light"] {
  color: white;
}

.navbar_wrapper[data-theme="dark"] {
  background: #a0ffcc;
  color: #1c1e1f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
  max-width: 1205px;
  margin: 0 auto;
}

.navbar_logo:hover {
  cursor: pointer;
}

.navbar_logo img {
  display: inline !important;
  margin: 4px 0 0 0 !important;
}

.navbar_links a {
  margin-left: 30px;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}

.navbar_links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: white;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.navbar_links a:hover {
  text-decoration: none;
}

.navbar_links a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

@media (max-width: 800px) {
  .navbar {
    padding: 25px 20px;
  }
  .navbar img {
    height: 30px;
  }
  .navbar_links a {
    margin-left: 15px;
  }
}
