html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.article-category {
  cursor: pointer;
  margin: 0 0.5em 0 0;
  text-transform: capitalize;
}

.article-category:hover {
  font-weight: bold;
}